<h1>Create a new Subject</h1>
<form action="/subjects" method="POST">
    <div>
    <label>Name : </label>
    <input type="text" class="form-control" name="name">
    </div>
    <div>
    <label>code :</label>
    <input type="text" class="form-control" name="code">
    </div>
    <div>
    <label>Department : </label>
    <select name="department">
          
        <option>CS</option>
        <option>IS</option>
        <option>IT</option>
    </select>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>

    </div>
</form>