<style>
    .card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-card-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border-radius: 20px;
 border: none;
  font-size: 16px;
  cursor: pointer;
}

.add-card-btn:hover {
  background-color: #218838;
}

</style>

<button class="add-card-btn">Create Professor Account</button>

<div class="card-list">
  <div class="card">Dr. Nader</div>
  <div class="card">Dr. Eman</div>
  <div class="card">Dr. Kfafi</div>
  <div class="card">Dr. Arabi</div>
  <div class="card">Dr. Malhat</div>
</div>