<style>
    .card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-card-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border-radius: 20px;
 border: none;
  font-size: 16px;
  cursor: pointer;
}

.add-card-btn:hover {
  background-color: #218838;
}

</style>

<button class="add-card-btn" onclick="window.location.href = '/admin/add_student'">
  Create Student Account
</button>

<div class="card-list">
  {{#each students}}
  <div class="card">
    <span>Id: {{_id}}</span>
    <br>
    <span>Username: {{username}}</span>
    <br>
    <span>Email: {{email}}</span>
    <br>
    <span>Academic Number: {{academic_number}}</span>
  </div>
  {{/each}}
</div>