<style>
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"] {
 display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.submit-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #218838;
}
</style>

<div class="form-container">
  <form class="form">
    <h2>Add Course</h2>
    <br>
    <input type="text" name="name" placeholder="Course Name" required>
    <input type="text" name="code" placeholder="Course Code" required>
    <input type="text" name="department" placeholder="Department" required>
    <input type="text" name="prerequisites" placeholder="Prerequisites separated by comma" required>
    <input type="text" name="professor" placeholder="Professor ID" required>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</div>